@model project2_2210900044.Models.don_hang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>don_hang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngaylap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaylap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongtien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khach_hang.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khach_hang.ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dh_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
