@model project2_2210900044.Models.chi_tiet_don_hang

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>chi_tiet_don_hang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanh_tien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanh_tien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.don_hang.dh_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.don_hang.dh_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skin.tenskin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skin.tenskin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
