@model project2_2210900044.Models.skin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>skin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenskin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenskin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sk_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
