@model IEnumerable<project2_2210900044.Models.skin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenskin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenskin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sk_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sk_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sk_id })
        </td>
    </tr>
}

</table>
