@model project2_2210900044.Models.thanh_toan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>thanh_toan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngaythanhtoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaythanhtoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sotienthanhtoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sotienthanhtoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.don_hang.dh_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.don_hang.dh_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tt_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
