@model IEnumerable<project2_2210900044.Models.thanh_toan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ngaythanhtoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sotienthanhtoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangthai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.don_hang.dh_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ngaythanhtoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotienthanhtoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangthai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.don_hang.dh_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tt_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tt_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tt_id })
        </td>
    </tr>
}

</table>
